[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git/
[submodule "jni/celt"]
	path = Plumble/jni/celt
	url = git://git.xiph.org/celt.git/
[submodule "jni/speex"]
	path = Plumble/jni/speex
	url = git://git.xiph.org/speex.git/
