<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morlunk.mumbleclient"
    android:installLocation="auto"
    android:versionCode="12"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:icon="@drawable/plumble"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name=".app.ServerList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ServerInfo" android:parentActivityName=".app.ServerList"/>
        <activity android:name=".app.ChannelActivity" android:launchMode="singleInstance"/>
        <activity android:name=".app.Preferences" android:parentActivityName=".app.ServerList"/>

        <service
            android:name=".service.MumbleService"
            android:enabled="true" />
        <service
            android:name=".service.MumbleNotificationService"
            android:enabled="true" />
        
        <!-- Start of Crittercism.com Code -->
		<activity android:name="com.crittercism.NotificationActivity"/>
		<!-- End of Crittercism.com Code -->
    </application>

</manifest>